<%- include("partials/header"); -%>
    <h1>Change Password</h1>
    <h2>
        <%= passwordContent %>
    </h2>

    <div class="form-group">
        <label>new password</label>
        <input id="newPassword" type="text" class="form-control" name="newPassword">
    </div>
    <button class="btn btn-primary" id="submit" type="submit" name="button">Update Password</button>


    <script>
        let update_password = () => {
            let newPassword = document.getElementById("newPassword").value

            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", `/API/V1/updatePassword`, true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhttp.send(`newPassword=${newPassword}`);
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    window.location = "/";
                }
            }
        }
        let pass_btn = document.getElementById("submit");
        pass_btn.addEventListener("click", update_password)

    </script>

    <%- include("partials/footer"); -%>